[submodule "lib/curlpp"]
	path = lib/curlpp
	url = https://github.com/jpbarrette/curlpp.git
	branch = v0.8.1
[submodule "lib/clipp"]
	path = lib/clipp
	url = https://github.com/muellan/clipp.git
	branch = v1.2.3
[submodule "lib/indicators"]
	path = lib/indicators
	url = https://github.com/p-ranav/indicators.git
	branch = v2.2
[submodule "lib/json"]
	path = lib/json
	url = https://github.com/nlohmann/json.git
	branch = v3.10.4
